---
import MainPage from "../components/MainPage.vue"
import NormalLayout from "../components/layout.vue"
// import "@vuepic/vue-datepicker/dist/main.css"
---
<head>
    <link rel="stylesheet" href="/assets/main.css" />
    <link rel="stylesheet" href="/assets/style.css" />
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1546881306569284"
     crossorigin="anonymous"></script>
    <!-- add description to page -->
    <meta name="description" content="aren't you tired of having no clue what the tusky time is? thanks to this cutting-edge never-before-seen website, that'll never happen again!">
    <meta name="keywords" content="tuscarora, tusky time, schedule, lcps, school, high school">
    <meta name="author" content="David Macpherson">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tusky Time</title>
</head>
<NormalLayout client:only="vue">  
    <MainPage client:only="vue"></MainPage>
</NormalLayout>