

<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/assets/style.css" />
    </head>
	<div id="default-layout">
        <div id="navbox">
            
            <img src="/assets/tuskylogo.png"/>
            <h1 id="nav-title">TUSKY TIME</h1>
            <a class="nav-link" href="/">Home</a>
        
        </div>
        <div id="app">
            <slot/>
        </div>
        <div id="footer">
            <p>not affiliated with LCPS or Tuscarora but that'd be pretty cool if I was </p>
            <p>Made by David Macpherson, 875497@lcps.org</p>
            <a href="/coolpeople">cool people list</a>
        </div>
    </div>
</html>
